.side-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 1px solid #828282;

  .nav-heading {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #828282;

    img {
      transform: scale(0.8);
      margin-left: 25px;
    }
    span {
      color: #0057ad;
      font-size: 24px;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 5px;
  color: #828282;
  margin-bottom: 10px;
  border-left: 3.5px solid #ffffff;
  &:hover {
    border-left: 3.5px solid #828282;
  }

  svg {
    transform: scale(0.9);
    margin-left: 25px;
  }
  .name {
    margin-left: 5px;
    font-weight: 500;
  }
}

.nav-item-active {
  color: #0057ad;
  border-color: #0057ad !important;

  svg {
    path {
      fill: #0057ad;
    }
  }
}
